<div class="container-fluid">
    <div class="row">
        <ul class="title list-group col-4 resultsList">
            <li class="list-group-item">Results</li>
            {{#each pageNoRes as |song|}}
            <li class="list-group-item d-flex justify-content-between song" data-name='{{song.name}}'
                data-artist='{{song.artist}}'>
                <span data-name='{{song.name}}' data-artist='{{song.artist}}'>{{song.name}}-{{song.artist}}
                </span>
                <span class="addSelect">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose a Playlists</option>
                        {{#each ../playlists as |pl|}}
                        <option value='{{pl.id}}'>{{pl.name}}</option>
                        {{/each}}
                    </select>
                    <button type="button" class="btn btn-primary addToPlaylist">Add</button>
                </span>
                <span class="add">&#10133;</span>
            </li>
            {{/each}}
            <div class="button-box col-lg-12">
                <a href="mylink.php" class="btn btn-light prev" role="button">prev</a>
                <a href="mylink.php" class="btn btn-light next" role="button">next</a>
            </div>
        </ul>
        <div class="videowrapper col-8">
            <iframe width="800" height="500" src="https://www.youtube.com/embed/tgbNymZ7vqY" id="youtube">
            </iframe>
        </div>
    </div>
</div>
<script src="/js/results.js"></script>
<script src="/js/navbar.js"></script>