<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Vibez</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <div class="ml-5">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected value="song">Song</option>
                        <option value="artist">Artist</option>
                        <option value="album">Album</option>
                    </select>
                </div>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <ul class="list-group col-4">
            <li class="list-group-item">Results</li>
            {{#each response as |song|}}
            <li class="list-group-item d-flex justify-content-between">
                <span class="song" data-name='{{song.name}}' data-artist='{{song.artist}}'>{{song.name}}-{{song.artist}}
                </span>
                <span class="addSelect">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose a Playlists</option>
                        {{#each ../playlists as |pl|}}
                        <option value='{{pl.id}}'>{{pl.name}}</option>
                        {{/each}}
                    </select>
                    <button type="button" class="btn btn-primary addToPlaylist">Add</button>
                </span>
                <span class="add">&#10133;</span>
            </li>
            {{/each}}
        </ul>
        <iframe width="420" height="500" class="col-8" src="https://www.youtube.com/embed/tgbNymZ7vqY" id="youtube">
        </iframe>
    </div>
    <script src="/js/results.js"></script>
</div>